<%-include('template/header', {titleWeb :"Index"}) %> 

   <div class="container">
       <h1> CRUD MongoDB</h1>
    <a class="btn btn-success btn-block my-4" href="/pets/create">Create New Pet</a>

        <table class="table">
            <thead>
                <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <% if (arrayPet.length > 0) { %>
                    <% arrayPet.forEach(pet => { %>
                        <tr>
                            <th scope="row"><%= pet.id  %> </th>
                            <td> <%=pet.name%></td>
                            <td> <%=pet.description %></td>
                            <td>
                                <a href="/pets/<%=pet.id%>" class="btn btn-warning btn-sm">
                                    Edit
                                </a>
                            </td>
                        </tr>
                    <% }) %>
                <% } %>
            </tbody>
        </table>
   </div>

<%-include('template/footer') %> 
